<section class="panel panel-inverse shadow-z-1">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Posts</h3>
  </div>
  {{ site.post }}
  <div id="recent_posts" class="list-group">
    {% for post in site.posts limit: site.recent_posts %}
    <a class="list-group-item btn btn-flat btn-default {% if post.url == page.url %}disabled{% endif %}" href="{{ root_url }}{{ post.url }}" style="text-transform: none; white-space: normal; text-align: left; font-weight: normal;">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
    {% endfor %}
  </div>
</section>
